@font-face {
  font-family: "LG";
  src: url("../fonts/15779.otf");
}

p > input {
  padding: 5px;
  background: #ffffff80;
  border-radius: 5px;
  border: 1px solid #ffffff80;
  width: 400px;
  outline: none;
  margin-bottom: 20px;
}
p > textarea {
  background: #ffffff80;
  border-radius: 5px;
  border: 1px solid #ffffff80;
  width: 410px;
  outline: none;
  margin-bottom: 20px;
}
p > select {
  background: #ffffff80;
  border-radius: 5px;
  border: 1px solid #ffffff80;
  width: 410px;
  outline: none;
  margin-bottom: 20px;
  padding: 5px;
}
button {
  background: none;
  cursor: pointer;
  border-radius: 5px;

  border: 1px solid #ffffff80;
  width: 410px;
  outline: none;
  color: #ffffff80;
  margin-bottom: 20px;
  padding: 5px;
  margin-left: 20px;
  transition: 0.3s;
}
button:hover {
  border: 1px solid white;
  color: white;
}
.form_post {
  background: #3232328c;
  display: flex;
  flex-direction: column;
}

p {
  display: flex;
  max-width: 50%;
  flex-direction: column;
}
p > * {
  margin-left: 20px;
}
