{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'social/css/todo-list.css' %}"
/>
<div class="current_page">
  <h2 class="header">ToDo List</h2>

  <button class="moreButton">
    <a href="{% url 'todo:add_task' %}">Добавить задачу</a>
  </button>

  <div class="names_list">
    <span class="name info">Информация</span>
    <span class="name status">Статус</span>
    <span class="name description">Описание</span>
    <span class="name details">Дедлайн</span>
    <span class="name actions">Действия</span>
  </div>

  <ul class="discussions_list">
    {% for task in tasks %}
    <li class="discussions_info">
      <div class="discussions_text">
        <div class="discussions_text_info">
          {% if task.discussion %}
          <p>
            <a href="{% url 'discussion' task.discussion.slug %}"
              >{{task.discussion}}</a
            >
          </p>
          {% else %}
          <p>Задача не привязана к обсуждению</p>
          {% endif %}
          <p>{{task.author}}</p>
          <p>{{task.time_create}}</p>
        </div>
        {% if task.status == 0 %}
        <p style="color: green">Статус: Задача закрыта</p>
        {% else %}
        <p style="color: grey">Статус: Задача открыта</p>
        {% endif %}
        <p>{{task.description}}</p>
        <p style="color: red">Дедлайн до {{task.deadline}}</p>
        <button class="moreButton">
          <a href="{% url 'todo:task_page' task.slug %}">Подробнее</a>
        </button>
      </div>

      <div class="" style="margin-top: 20px">
        {% if task.status == 1 %}
        <button type="submit" class="moreButton">
          <a href="{% url 'todo:task_toggle_complete' task.slug %}">Закрыть</a>
        </button>
        {% else %}
        <button type="submit" class="moreButton">
          <a href="{% url 'todo:task_toggle_complete' task.slug %}">Открыть</a>
        </button>
        {% endif %}
        <button class="moreButton">
          <a href="{% url 'todo:delete_task' task.slug %}">Удалить задачу</a>
        </button>
        <button class="moreButton">
          <a href="{% url 'todo:update_task' task.slug %}"
            >Редактировать задачу</a
          >
        </button>
      </div>

      {% endfor %}
    </li>
  </ul>
</div>
<style></style>

{% endblock %}
