{% extends 'base.html' %} {% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'social/css/cloud-list.css' %}"
/>

{% block content %}
<h1>Cloud</h1>
<div class="buttons_list">
  <button class="moreButton">
    <a href="{% url 'cloud:add_folder' %}">Создать папку</a>
  </button>
  <button class="moreButton">
    <a href="{% url 'cloud:delete_folders' %}">Выбрать папки</a>
  </button>
</div>
<ul>
  {% for folder in folders %}
  <li style="list-style-type: none; border:1px solid white;">
    <p style="margin-left: 25px ;margin-top: 20px;">
        {{ folder.name }}</a
      >
    </p>
    <p style="margin-left: 25px; margin-bottom: 20px;">{{folder.author}} в {{folder.time_create}}</p>
    <a href="{% url 'cloud:folder_detail' folder.slug %}" class="moreButton">
      Добавить файл
    </a>
  </li>
  {% endfor %} {% for message in messages %} {{ message }} {% endfor %}
</ul>
<style>
  .buttons_list {
    display: flex;
  }
  .moreButton {
    font-size: 14px;
    display:block;
    width: 200px;
    cursor: pointer;
    font-weight: 500;
    padding: 6px 6px 6px 6px;
    background: none;
    color: #ffffff80;
    border: 2px solid #ffffff80;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    transition: 0.3s;
  }
  .names_list {
    margin: 20px 4px 0 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff80;
  }
  .moreButton:hover {
    color: white;
    border-color: white;
  }
</style>

{% endblock %}
