{% extends 'base.html' %} {% load static %} {% block content %}
<h1 style="margin-left: 24px; margin-bottom: -5px">{{ folder.name }}</h1>

<p>
  <button class="moreButton">
    <a href="{% url 'cloud:add_file' folder.slug %}">Добавить файл</a>
  </button>
</p>

{% for file in folder.file_set.all %}
<div style="display: inline-block; padding: 30px">
  <h4>Название файла - "{{file.name}}"</h4>
  <p>Файл добавил {{file.author}} в {{file.time_create}}</p>
  <button class="moreButton"><a href="{{ file.file.url }}">Скачать</a></button>
  <button class="moreButton">
    <a href="{% url 'cloud:delete_file' file.id %}">Удалить</a>
  </button>
</div>

{% endfor %}<style>
  p > button {
    font-size: 14px;
    display: block;
    width: 200px;
    cursor: pointer;
    font-weight: 500;
    padding: 6px 6px 6px 6px;
    background: none;
    color: #ffffff80;
    border: 2px solid #ffffff80;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    transition: 0.3s;
  }
  .moreButton {
    font-size: 14px;
    display: block;
    width: 200px;
    cursor: pointer;
    font-weight: 500;
    padding: 6px 6px 6px 6px;
    background: none;
    color: #ffffff80;
    border: 2px solid #ffffff80;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    transition: 0.3s;
  }
  button:hover {
    color: white;
    border-color: white;
  }
</style>
{% endblock %}
