{% extends 'base.html' %} {% block content %}
<h1>Изменение пароля</h1>

<form method="post">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for f in form %}
  <p>
    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
    {{f }}
  </p>
  <div class="form-error">{{ f.errors }}</div>
  {% endfor %}

  <p><button type="submit" class="moreButton">Изменить пароль</button></p>
</form>

<style>
  input {
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    padding: 6px 6px 6px 6px;
    background: none;
    color: #ffffff80;
    border: 2px solid #ffffff80;
    border-radius: 5px;
    margin-right: 20px;
    transition: 0.3s;
    margin-bottom: 20px;
  }
  .moreButton {
    font-size: 20px;
    cursor: pointer;
    width: 420px;
    font-weight: 500;
    padding: 6px 6px 6px 6px;
    background: none;
    color: #ffffff80;
    border: 2px solid #ffffff80;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.3s;
    margin-bottom: 20px;
  }
  .moreButton:hover {
    color: white;
    border-color: white;
  }
</style>
{% endblock %}
